@use "./general.scss" as *;

body {
  background: $clr-body;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;

  @media (min-width: $breakpoint-xlg) {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

main {
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  // border: 1px solid red;
}

:root {
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* For frameworks React & Next */
#root,
#__next {
  isolation: isolate;
}
